*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 40px;
}
body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: midnightblue;
    color:white;
}
.curquestion,.score{
    margin:20px;
}
.option{
    margin:20px;
    padding:5px 30px;
    background-color: midnightblue;
    border: 2px solid white;
    cursor: pointer;
    color:white;
}
.option:hover{
    background-color: gainsboro;
}
.timebar{
    height:10px;
    background-color: green;
    position:fixed;
    bottom: 0;
    left:0;
}

.start{
    padding:10px;
    border-radius: 4px;
    cursor: pointer;
}
.start:hover{
    background-color: gainsboro;
}

.title{
    display:flex;
}
.box{
    width:300px;
    border: 2px solid black;
    padding:10px;
}
.total{
    border:2px solid black;
    display:flex;
    justify-content: flex-end;
}
p{
    border-left: 2px solid black;
    width:300px;
}